name: Latest tweets workflow
on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
    workflow-despatch

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest tweets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "TWEET-POST-LIST"
          commit_message: "Updated readme with the latest tweets"
          feed_list: "https://twitrss.me/twitter_user_to_rss/?user=MrDavisCSIT"
