name: Profile Update - Twitter Feed

on:
  schedule:
    - cron: "30 * * * *"
  workflow_dispatch:

jobs:
  update-readme-with-tweets:
    name: Update this repo's README with latest tweets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          comment_tag_name: "TWEET-POST-LIST"
          commit_message: "Updated readme with the latest tweets"
          feed_list: "https://rss.app/feeds/ULTQu7BCpB4RTHZD.xml"
